.container {
    width: 500px;
    margin: 0 auto; }
.game-container {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.grid-container {
    position: absolute;
    z-index: 1; }

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;  }
.grid-cell.grid-cell-blue{
    background: rgba(0, 0, 255,1);
}

.grid-cell.grid-cell-red{
    background: rgba(255,0,0,1);
}

.grid-cell:last-child {
    margin-right: 0; }


